:root {
  --c-white: #fff;
  --c-black: #000;

  --c-dark: #1a1a1a;
  --c-dark-accent: #232323;
  --c-light: #bbb;
  --c-light-accent: #ccc;

  --c-green: #80bc68;
  --c-blue: #7dddfb;
  --c-yellow: #ffe766;
  --c-red: #ee6c6c;

  --ff-nunito: 'Nunito', Tahoma, Verdana, Arial, sans-serif;
  --ff-roboto: 'Roboto', Tahoma, Verdana, Arial, sans-serif;
}

* {
  cursor: url('/cursor.png') 1 1, auto;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  line-height: 1.35;
  font-family: var(--ff-nunito);
  font-size: 1rem;
  color: var(--c-white);
  background-color: var(--c-black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow-x: hidden;
}

/* Util */
.center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.hide {
  display: none !important;
}

/* Global */
button,
.button {
  position: relative;
  padding: 5px 10px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 6px;
  background-color: rgba(255, 255, 255, .15);
  color: var(--c-white);
  border: 1px solid rgba(255, 255, 255, .1);
  outline: 0;
  font-family: var(--ff-roboto);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  cursor: url('/cursor_link.png') 15 15, auto;
}

button:hover,
.button:hover {
  border-color: var(--c-blue);
}

/* BG */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/bg.gif') repeat;
  opacity: .169;
  z-index: -2;
}

.bg-grad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-4deg, rgba(0,0,0,0), rgba(251, 125, 142, 0.08), rgba(0,0,0,0));
  z-index: -1;
}