SWGEMU_DB_HOST=localhost
SWGEMU_DB_USER=swgemu
SWGEMU_DB_PASS=123456
SWGEMU_DB_NAME=swgemu
SWGEMU_DB_SECRET=swgemus3cr37!
SWGEMU_STATUS_JSON=/opt/pswg-status-poller/pswg-status.json
SWGEMU_ENABLE_REGISTRATION=true